:root {
    --navy: #1b2d45;
}

html,
body {
    background-color: #f7f7f0;
}

a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  color: #0056b3;
  cursor: pointer;
}

#content {
  margin: 30px auto;
  max-width: 1200px;
  padding: 30px 5px;
  width: 80%;
}

/* header styles */

#header {
  max-width: 800px;
}

#profile-img-container {
  text-align: center;
}

#profile-img {
  border-radius: 50%;
  height: 200px;
  object-fit: cover;
  width: 200px;
  margin: auto;
}

#title {
  color: var(--navy);
  font-family: 'Dancing Script', cursive, sans-serif;
  margin-top: 16px;
}

/* gallery styles */

.filter-dropdown > .btn,
.sort-toggle > .btn {
  background-color: whitesmoke;
  color: black;
  border-color: gray;
  z-index: 1;
  margin-bottom: 30px;
}

.sort-toggle {
  margin-right: 20px;
}

.btn-secondary:not(:disabled):not(.disabled).active {
  background-color: gray;
}

.btn-secondary.focus {
  box-shadow: none;
}

.figure-img-container {
  width: 100%;
  overflow: hidden;
  border-radius: 3px;
  max-height: 420px;
}

.figure-caption-container {
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 6px auto;
}

.figure-caption {
  margin: 0 7px;
  text-align: center;
  vertical-align: center;
}

.photo-location {
  font-weight: 450;
}

.photo-date {
  font-style: italic;
}

.dot {
  background: gray;
  border-radius: 50%;
  height: 5px;
  width: 5px;
}

#gallery-container {
  margin-top: 100px;
}
