:root {
    --navy: #1b2d45;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    color: #0056b3;
}

#content {
    margin: 30px auto;
    max-width: 1200px;
    width: 80%;
}

#header {
    align-items: center;
    display: flex;
    margin: 0 auto;
    /* border: 2px solid red; */
}

#profile-img-container {
    flex: 1;
    margin: 10px 30px;
    /* border: 2px solid #0056b3; */
}

#profile-img-container > img {
    border-radius: 50%;
    height: 200px;
    object-fit: cover;
    padding: 10px; 
    width: 200px;
}

#header-text-container {
    flex: 3;
    margin: 10px 30px;
    /* border: 2px solid green; */
}

#header-text-container > h1 {
    color: var(--navy);
    font-family: 'Dancing Script', cursive, sans-serif;
}