:root {
  --navy: #1b2d45;
  --accent: #39bdb8;
  --accent-hover: #32cfc9;
  --dark-gray: #575757;
}

html,
body {
  background-color: #f7f7f0;
  scroll-behavior: smooth;
}

h4 {
  color: var(--navy);
}

a {
  color: var(--accent);
  text-decoration: none;
}

a:hover {
  color: var(--accent-hover);
  cursor: pointer;
}

.btn:focus {
  box-shadow: none;
}

#content {
  margin: 30px auto;
  max-width: 1200px;
  padding: 30px 5px;
  width: 70%;
}

/* header */

#header {
  max-width: 800px;
}

#profile-img-container {
  text-align: center;
}

#profile-img {
  border-radius: 50%;
  height: 200px;
  margin: auto;
  object-fit: cover;
  width: 200px;
}

#profile-text-container {
  margin-bottom: 10px;
}

#title {
  color: var(--navy);
  font-family: 'Dancing Script', cursive, sans-serif;
  margin-top: 16px;
}

#header-btn > a {
  text-decoration: inherit;
  color: inherit;
}

/* map modal */

#map {
  height: 500px;
  margin: auto;
  width: 90%;
}

#map-modal-title {
  color: var(--navy);
}

/* gallery */

.filter-dropdown > .btn,
.sort-toggle > .btn {
  background-color: whitesmoke;
  border-color: gray;
  color: black;
  margin-bottom: 30px;
  z-index: 1;
}

.sort-toggle {
  margin-right: 20px;
}

.btn-secondary:not(:disabled).active {
  background-color: gray;
}

.btn-secondary.focus {
  box-shadow: none;
}

.figure-img-container {
  border-radius: 3px;
  max-height: 420px;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.figure-caption-container {
  align-items: center;
  justify-content: center;
  margin: 6px auto;
  width: 100%;
}

.figure-caption {
  margin: 0 7px;
  text-align: center;
  vertical-align: center;
}

.photo-location {
  font-weight: 450;
}

.photo-date {
  font-style: italic;
}

.dot {
  background: gray;
  border-radius: 50%;
  height: 5px;
  width: 5px;
}

#gallery-container {
  margin-top: 100px;
}

.overlay {
  background-color: var(--navy);
  bottom: 0;
  left: 0;
  height: 100%;
  position: absolute;
  right: 0;
  transition: 0.5s ease;
  top: 0;
  width: 100%;
  opacity: 0;
}

.figure-img-container:hover .overlay {
  opacity: 0.5;
}

.view-map-btn {
  color: white;
  border-color: white;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* loading styles */

#comments,
#gallery {
  margin: 40px auto;
}

.loading-container {
  margin: auto;
  color: gray;
}

.spinner-border {
  margin: 15px;
  width: 2.2rem;
  height: 2.2rem;
}

/* comments form */

#login {
  color: var(--dark-gray);
  margin: 16px auto;
  text-align: center;
}

#login-btn {
  background-color: var(--navy);
  border-radius: 4px;
  color: white;
  margin: 8px auto;
  justify-content: center;
  padding: 16px;
  width: 200px;
}

#google-logo {
  margin-right: 12px;
  width: 24px;
}

#submit-btn-container {
  justify-content: flex-end;
  margin: auto 4px;
  width: 100%;
}

#submit-btn {
  padding: 0;
}

#submit-btn > button {
  background-color: var(--accent);
  border-color: var(--accent);
  width: 100%;
}

#submit-btn > button:hover {
  background-color: var(--accent-hover);
  border-color: var(--accent-hover);
}

#inlineFormInputDescription {
  min-height: 8rem;
}

#anonCheck-container {
  color: var(--darkgray);
  margin-left: 12px;
}

#logged-in-id {
  align-items: center;
  margin: 4px;
}

#logout-btn {
  border: 1px solid var(--navy);
  border-radius: 4px;
  color: var(--navy);
  margin: auto 12px;
  padding: 2px 8px;
}

#logout-btn:hover {
  background-color: var(--navy);
  color: white;
}

#rec-form,
#login {
  display: none;
}

#rec-form {
  color: var(--dark-gray);
}

#displayedName {
  margin-top: 4px;
}

/* comments */

#comments-container {
  margin: 30px auto;
}

#comments {
  margin: 16px;
  width: 100%;
}

.comment {
  background-color: #edede1;
  border-radius: 4px;
  text-align: left;
  margin: 4px auto;
  padding: 4px;
  width: 100%;
}

.comment:hover {
  background-color: #e6e6cf;
}

.rec-location {
  font-size: 1.4rem;
  font-weight: 500;
}

.rec-description {
  padding: 4px 16px;
}

.rec-description-txt {
  margin-bottom: 10px;
  vertical-align: top;
  white-space: pre;
}

.comment-name {
  color: #6ebaba;
  font-style: italic;
  font-weight: 400;
  font-size: 1.2rem;
  text-align: right;
}

.empty-link {
  visibility: hidden;
}

.empty-notice {
  color: gray;
  margin: auto;
  min-height: 5rem;
  padding: 10px;
  text-align: center;
}

.fa-caret-right {
  margin-right: 4px;
  transition: transform 280ms;
}

.fa-caret-right.rotated {
  transform: rotate(90deg);
}

.fa-chevron-down {
  margin: auto 6px;
}

.fa-ban {
  color: gray;
  font-size: 1.4rem;
  text-align: right;
  opacity: 0.5;
}

.fa-ban:hover {
  color: maroon;
  cursor: pointer;
  opacity: 1;
}

#rec-count {
  color: gray;
  margin: 4px auto;
  padding: 0 20px 8px 20px;
  text-align: right;
}

#load-more-btn {
  background-color: #e9f0f0;
  color: var(--navy);
  margin: auto 16px;
  padding: 8px 0;
}

#load-more-btn:hover {
  background-color: #e1eded;
}

#load-more-btn:disabled {
  background-color: #e1e7ed;
  color: gray;
}

/* Small devices (landscape phones, 576px and below) */
@media (max-width: 576px) {
  #login-btn {
    width: 100%;
  }

  #map {
    height: 400px;
  }
}

/* Medium devices (tablets, 991.98px and below) */
@media (max-width: 991.98px) {
  #content {
    width: 85%;
  }

  #profile-img {
    height: 180px;
    width: 180px;
  }
}
