:root {
    --navy: #1b2d45;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    color: #0056b3;
}

.row {
    align-items: center;
    /* border: 2px solid red; */
}

#content {
    margin: 30px auto;
    max-width: 1200px;
    padding: 30px 5px;
    width: 80%;
}

/* header styles */

#header {
    max-width: 800px;
}

#profile-img {
    border-radius: 50%;
    height: 200px;
    object-fit: cover;
    width: 200px;
}

#title {
    color: var(--navy);
    font-family: 'Dancing Script', cursive, sans-serif;
}

/* gallery styles */

.dropdown > .btn {
    background-color: whitesmoke;
    color: black;
    margin: 0 15px 25px 0;
    z-index: 1;
}

.figure-caption-container {
    justify-content: center;
}

.figure-caption {
    margin: 0 7px;
    text-align: center;
    vertical-align: center;
}

.photo-location {
    font-weight: 450;
}

.photo-date {
    font-style: italic;
}

.dot {
    background: gray;
    border-radius: 50%;
    height: 5px;
    width: 5px;
}

#gallery {
    margin-top: 100px;
}
